<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{=response.title}}</title>
	<link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	{{include 'web2py_ajax.html'}}
	<style>
		body{
			padding: 1.2em 0em;
		}
		.fonte{
			font-size: 0.8em;
			text-align: right;
			padding: 0.5em 1em 0em 1em;
		}
		.panel-border{
			padding-bottom: 0em;
		}
		#suggestions { position: relative; }
		.suggestions { background: white; border: solid 1px #55A6C8; }
		.suggestions DIV { padding: 2px 4px 2px 4px; }
	</style>

</head>
<body>


<form>
 <input type="text" id="month" name="month" style="width: 250px" /><br />
 <div style="position: absolute;" id="suggestions"
      class="suggestions"></div>
</form>
<script>
jQuery("#month").keyup(function(){
      ajax('month_selector', ['month'], 'suggestions')});
</script>


	<div class="container-fluid">



<!-- 		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-primary">
				    <div id="colGroup1" role="tab" class="panel-heading" style="padding: 1px 10px;">
				        <h5>Meteorologia</h5>
				    </div>
				    <div class="panel-body">
						<form id="myform" action="">
						    <div class="input-group">
								  <input name="your_message" id="your_message" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btn-default btn-primary" type="submit">Go!</button>
							</span>
						    </div>
						</form>
					</div>
					
					<div id="target" style="margin: 1em;" class="alert alert-success"></div>
					
				</div>
			</div>
		</div> -->



		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-primary">
				    <div id="colGroup1" role="tab" class="panel-heading" style="padding: 1px 10px;">
				        <h5>Meteorologia</h5>
				    </div>
				    <div class="panel-body">
						<form action="">
						    <div class="input-group">
								<input id="no_table_estado" name="estado" type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default btn-primary" type="button">Go!</button>
							</span>
								
						    </div>
						</form>
					</div>
					<div id="target" style="margin: 1em;"></div>
					<div id="resposta" style="margin: 1em;" class="alert alert-success"></div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-primary">
				    <div id="colGroup2" role="tab" class="panel-heading" style="padding: 1px 10px;">
				        <h5>Fuso Horário Mundial</h5>
				    </div>
				    <div class="panel-body">
						<form action="">
						    <div class="input-group">
								{{=form_fuso.custom.begin}}
								{{form_fuso.elements('#no_table_cidade')[0]['_class']='form-control'}}
								{{=form_fuso.custom.widget.cidade}}
							<span class="input-group-btn">
								<button class="btn btn-default btn-primary" type="submit">Go!</button>
							</span>
								{{=form_fuso.custom.end}}
						    </div>
						</form>
					</div>
					{{if cid_escolhida:}}
					<div style="margin: 1em;" class="alert alert-success">
						{{=cid_escolhida[0]}}<br />
						{{=cid_escolhida[1] + ' - ' + cid_escolhida[2]}}
					</div>
					{{pass}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-primary">
				    <div id="colGroup3" role="tab" class="panel-heading" style="padding: 1px 10px;">
				        <h5>Busca por CEP</h5>
				    </div>
				      <div class="panel-body">
					    	<form action="">
							    <div class="input-group">
							      <input name="cep" type="text" class="form-control" placeholder="CEP">
							      <span class="input-group-btn">
							        <button class="btn btn-default btn-primary" type="submit">Go!</button>
							      </span>
							    </div><!-- /input-group -->
							</form>
					  </div>
					  	{{if resposta:}}
					  	<ul class="list-group">
							<li class="list-group-item"><b>Endereço:</b> {{=resposta['logradouro']}}</li>
							<li class="list-group-item"><b>Bairro:</b> {{=resposta['bairro']}}</li>
							<li class="list-group-item"><b>Cidade:</b> {{=resposta['cidade']}}</li>
							<li class="list-group-item"><b>Estado:</b> {{=resposta['estado_info']['nome']}} - {{=resposta['estado']}}</li>
							<li class="list-group-item"><b>CEP:</b> {{=resposta['cep']}}</li>
						</ul>
						{{pass}}
				        <div class="panel-border" style="padding: 1px 10px;">
				        	<p class="fonte">Fonte: <a target="_blank" href="http://www.postmon.com.br">Postmon</a></p>
				        </div>
				</div>			
			</div>
		</div>
	</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
jQuery("#no_table_estado").keyup(function(){
      ajax('auto_teste', ['estado'], 'target')});
</script>


</body>
</html>